[Unit]
Description=Block Leecher Clients and Bad IPs for Transmission
Documentation=https://github.com/qianbinbin/transmission-block
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
EnvironmentFile=/usr/local/etc/transmission-block/transmission-block.conf
StateDirectory=%p
ExecStart=/usr/local/bin/transmission-block -d "$STATE_DIRECTORY"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
